<div class="content-block flex">
	<div class="profile-content">
		<%= link_to user_path(user) do %>
		<%= attachment_image_tag user, :profile_image, format:"jpg",
			size:"150x150", fallback:"no_image.jpg",
			class:"profile-image" %><br><% end %>
		<% if user == current_user %>
			<%= link_to "編集", edit_user_path(user) %>
		<% else %>
			<%= link_to "Message", chat_path(user) %>
		<% end %>
	</div>
	<div class="text-content">
		<span class="title-text">
				<i class="fas fa-dog fa-2x"><%= user.name %></i><br>
		</span>
		<span class="body-text">
			<%= user.introduction %>
		</span><br>
		<div class="action-text">
			<div class="relationship_<%= user.id %>">
				<%= render partial: "relationships/relationships", locals: {user: user} %>
			</div>
		</div>
	</div>
</div>