<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="input-form">
        <h2><span class="input-title">Log in</span></h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "off", class:"form-control" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
        </div>

        <div class="field input-btn">
          <%= f.submit "ログイン", class:"btn btn-warning btn-block" %>
        </div>
      <% end %>
      <span>まだ新規登録していない方は、
        <%= link_to "こちら", new_user_registration_path, style:"color:blue;" %>より新規登録を行ってください
      </span>

      </div>
    </div>
  </div>
</div>
