<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="input-form">

        <% if @post.errors.any? %>
          <div class="alert">
            <h2><%= @post.errors.count %>errors</h2>
            <ul>
              <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <h2><span class="input-title">New Post</span></h2>
      <%= form_for(@post) do |f| %>
        <div class="field">
          <%= f.label :post_image, class:"btn btn-primary image-btn" %>
          <%= f.attachment_field :post_image, style:"display:none;", class:"image-select" %>
        </div>

        <div class="field">
          <%= f.label :title %><br />
          <%= f.text_field :title, autofocus: true, autocomplete: "off", class:"form-control",
            placeholder:"shop name..." %>
        </div>

        <div class="field">
          <%= f.label :body %><br />
          <%= f.text_area :body, rows:"5", autofocus: true, autocomplete: "off",
            class:"form-control", placeholder:"introduction/review..." %>
        </div>

        <div class="field">
          <%= f.label :postal_code %><br />
          <%= f.text_field :postal_code, autofocus: true, placeholder: 'postal_code', class: "postal_code", id: "address_zipcode" %>
        </div>

        <div class="field">
          <%= f.label :prefecture_code %><br>
          <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name, class: "address" %>
          <%= f.text_field :city, autofocus: true, placeholder: 'city', class: "address", id:"address_city" %>
          <%= f.text_field :building, autofocus: true, placeholder: 'building', class: "address", id: "address_street" %>
        </div>

        <div class="field input-btn">
          <%= f.submit "CREATE", class:"btn btn-warning btn-block" %>
        </div>
      <% end %>

      </div>
    </div>
  </div>
</div>