<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<% if flash[:notice] %>
			 	<div class="flash"><%= flash[:notice]%></div>
			<% end %>
			<div class="post-container flex">
				<div class="post-block">
						<%= attachment_image_tag @post, :post_image, format:"jpg",
						 class:"post-image" %>
				</div>
				<div class="content-block flex">
					<div class="profile-content">
						<%= link_to user_path(@user) do %>
							<%= attachment_image_tag @user, :profile_image, format:"jpg",
								size:"100x100", fallback:"no_image.jpg", class:"profile-image" %>
								<br><i class="fas fa-dog"><%= @user.name %></i>
						<% end %>
					</div>
					<div class="text-content">
						<span class="title-text">
								<i class="fas fa-paw fa-2x"><%= @post.title %></i><br>
						</span>
						<span class="body-text">
							<%= @post.body %><br>
							<%= link_to map_path(@post) do %>
								<i class="fas fa-map-marked-alt"></i><%= @post.city %>
							<% end %>
						</span><br>
						<div class="action-text">
							<i class="far fa-comment"><%= @post.post_comments.count %></i>
							<span class="favorite_<%= @post.id %>" >
								<%= render "favorite", post: @post %>
							</span>
							<%= @post.created_at.strftime('%Y/%m/%d') %><br>
							<% if current_user == @user %>
								<%= link_to "編集", edit_post_path(@post) %>|
								<%= link_to "削除", post_path(@post), method: :delete,
									data: { confirm: '本当に削除しますか?' } %>
							<% end %>
						</div>

					</div>
				</div>
			</div>

			<section class="input-form">
	        <h2><span class="input-title">Comments</span></h2>
	        <div class="comment_<%= @post.id %>">
	        	<%= render "comment", post_comments: @post_comments %>
	        </div>
			</section>

			<section>
			<div class="input-form">
	        <h2><span class="input-title">New Comment</span></h2>
		      <%= form_with model:[@post,@post_comment] do |f| %>
		        <div class="field">
		          <%= f.text_area :comment, rows:"3", autocomplete: "off",
		            class:"form-control" %>
		        </div>
		        <div class="field input-btn">
		          <%= f.submit "NEW COMMENT", class:"btn btn-warning btn-block" %>
		        </div>
		      <% end %>
	      	</div>
			</section>

		</div>
	</div>
</div>