<!DOCTYPE html>
<html>
  <head>
    <title>NewDeli</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/5a4c917e19.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-white bg-white fixed-top">
        <div class="container">
          <%= link_to root_path, class:"navbar-brand" do %>
            <i class="fas fa-utensils fa-2x" style="color: orange;">
              <span style="font-family: impact">New:Deli</span>
            </i>
          <% end %>
          <ul class="nav">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to posts_path, class:"nav-link" do %>
                  投稿一覧
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_post_path, class:"nav-link" do %>
                  新規投稿
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to user_path(current_user), class:"nav-link" do %>
                  マイページ
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, class:"nav-link", method: :delete do %>
                  ログアウト
                <% end %>
              </li>
              <li class="nav-item">
                <span class="search-btn nav-link">検索</span>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Top", root_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "About", about_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_registration_path, class:"nav-link" do %>
                  Sign up
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class:"nav-link" do %>
                  Log in
                <% end %>
              </li>
            <% end %>
          </ul>
     </div>
     </nav>
     <div class="container">
     <div class="search-form">
      <h2><span class="input-title">Search form</span></h2>
      <%= form_tag(search_path, method: :get) do %>
        <%= text_field_tag "search[content]"%>
        <%= select_tag "search[model]", options_for_select({"ユーザー" => "user", "投稿" => "post"}),
          class:"select" %>
        <%= select_tag 'search[method]', options_for_select({ "完全一致" => "match","前方一致" =>
         "forward", "後方一致" => "backward", "部分一致" => "partical"}), class:"select" %>
        <%= submit_tag '検索', class: "btn btn-warning btn-sm" %>
      <% end %>
     </div>
     </div>
    </header>

    <%= yield %>

    <footer>
      <div class="container">
        <i class="fas fa-utensils" style="color: orange;">
        <span style="font-family: impact">New:Deli</span></i>
        <p class="top-btn">Go Top</p>
      </div>
    </footer>
  </body>
</html>
